<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Taker</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #b19c9c;
    }
    .border {
      height: 100vh;
      border: 1px solid #666;
    }
  </style>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper purple darken-4 white-text">
          <a href="#" class="brand-logo center">Note Taker App!</a>
        </div>
      </nav>
    </header>
    <main id="app">
      <div class="row">
        <div class="col s4 border">
          <!-- 
            <note
              v-for="note in notes"
              :note="note"
              @clearNote="deleteNote()"
            ></note>-->
          <note v-for="note in notes" :note="note"></note>
        </div>
        <div class="col s8">
          <div class="row">
            <div class="col s12 center-align "></div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="/resources/js/main.js"></script>
  </body>
</html>
